/*Логотип*/
.logo{
	font-family: 'Poppins';
	font-weight: 700;
	font-size: 42px;
	letter-spacing: -4px;
	min-width: 120px;
}
.logo>span{
	position: relative;
	display: inline-block;
}
.logo>span::before{
	content: '';
	position: absolute;
	top:17px;
	left: 8px;
	height: 13px;
	width: 12px;
	border-radius: 50%;
	background-color: var(--button-bg-color);
}

/*Кнопка*/
.cta-button{
	width: 170px;
	padding-block: 17px;
	text-align: center;
	border-radius: 10px;
	background-color: var(--button-bg-color);
	border: 2px solid rgb(19, 17, 17);
	box-shadow: 1px 5px 10px rgb(139, 139, 137);

}
.cta-button__button{
	font-family: 'Google Sans';
	font-weight: 500;
	font-size: 18px;
	background-color: var(--button-bg-color);
}

.play-button{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap:21px;
}
.play-button__button{
	display: inline-flex;
	align-items: center;
	background-color: var(--logo-subtitle-color);
	aspect-ratio: 1;
	padding: 17.5px;
	border-radius: 50%;
	border: 1px solid black;
	box-shadow: 1px 3px 10px rgb(139, 139, 137);
}
.play-button__text{
	/*font-family: "Poppins";*/
	font-size: 17px;
/*	font-weight: 500;*/
	letter-spacing: -1px;
	background-color: var(--text-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 0.8px black;
	text-shadow: -2px 5px 7px gray;
}

.easy-icons{
	width: 47px;
	/*padding-block: 12px;*/
	height: 48px;
	
	border-radius: 15px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.choose-destination-icon__bg-color img{
	background-color: #F0BB1F;
}
.make-payment__color img{
	background-color: #F15A2B;
}
.reach-airport__bg-color img{
	background-color: #006380;
}