:root{
	--logo-color: #181E4B;
	--title-color: #14183E;
	--text-color: #5E6282;
	--logo-subtitle-color: #DF6951;
	--button-bg-color: #F1A501;
	--title-card-color: #1E1D4C;
	--button-gradiend-start: #FF946D;
	--button-gradiend-end: #FF7D68;

}

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	
}

.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}
[class*="__container"]{
	max-width: 1210px;
	padding-inline: 15px;	
	margin: 0 auto;
}
.header-block__container{
	padding-block-start: 50px;
}
.title-section{
	font-family: 'Volkhov',sans-serif;
	font-weight: 700;
}
.title__hero{
	font-size: 84px;
	color: var(--logo-color);
}
.header-block {
	display: flex;
	gap:150px;
	
}
.logo__body{
}
.menu {
	display: flex;
	justify-content: space-between;
	gap:20px;
}
.menu__items {
	font-family: 'Google Sans';
	font-size: 17px;
	height: 40px;
	margin-bottom: -9px;
	padding-top: 10px;
	padding-inline: 5px;
	width: 112px;
	border-radius: 5px;
	text-align: center;
	transition: box-shadow 0.3s;
}
.menu__items:hover {
	border: 1px solid #212832;
	box-shadow: 2px 2px 5px var(--text-color);
}

/*Hero section*/
.hero-section {
	display: flex;
	flex-direction: row;
	gap:10px;
	
}
.hero-section__block{
	margin-block: 10px;
}
.hero-section__body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
.hero-section__subtitle {
	/*font-family: "Poppins";*/
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -1px;
	background-color: #DF6951;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px black;
	
	text-transform: uppercase;
}
.title-section {	
}
.title-section > span{
	position: relative;
}
.title-section > span::before{
	content: '';
	top:85px;
	left: -30px;
	position: absolute;
	width: 335px;
	height: 12px;
	background-image: url(../image/hero_section/Decore.svg);
}
.title__hero {
	margin-right: -213px;
	margin-top: 22px;
	margin-bottom: 44px;
}
.hero-section__description {
	font-size: 16px;
	line-height: 30px;
	background-color: #5E6282;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 0.6px black;
	margin-bottom: 30px;
	margin-right: -67px;
}
.hero-section__buttons {
	display: flex;
	flex-direction: row;
	gap: 44px;
}

.hero-section__main-photo {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.cta-button > a{
	color: white;
}