:root{
	--logo-color: #181E4B;
	--title-color: #14183E;
	--text-color: #5E6282;
	--logo-subtitle-color: #DF6951;
	--button-bg-color: #F1A501;
	--title-card-color: #1E1D4C;
	--button-gradiend-start: #FF946D;
	--button-gradiend-end: #FF7D68;

}

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}
[class*="__container"]{
	max-width: 1410px;
	padding-inline: 15px;	
	margin: 0 auto;
}
.header-block__container{
	padding-block-start: 50px;
}
.title-section{
	font-family: 'Volkhov',sans-serif;
	font-weight: 700;
}
.title__hero{
	font-size: 84px;
	color: var(--logo-color);
}
.header-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap:150px;
	
}
.logo__body{
	min-width: 90px;
}
.menu {
	display: flex;
	justify-content: space-between;
	gap:20px;
	flex-wrap: wrap;
}
.menu__items {
	font-family: 'Google Sans';
	font-size: 17px;
	height: 40px;
	margin-bottom: -9px;
	padding-top: 10px;
	padding-inline: 5px;
	width: 112px;
	border-radius: 5px;
	text-align: center;
	transition: box-shadow 0.3s;
}
.menu__items:hover {
	border: 1px solid #212832;
	box-shadow: 2px 2px 5px var(--text-color);
}